@charset "UTF-8";
/**
 * $File: style.css $
 * $Date: 2018-09-27 20:33:53 $
 * $Revision: $
 * $Creator: Jen-Chieh Shen $
 * $Notice: See LICENSE.txt for modification and distribution information
 *                   Copyright © 2018 by Shen, Jen-Chieh $
 */


* {
  margin: 0px;
  padding: 0px;
}

body {
  /* min-width: 1000px; */
  font-family: 'Open Sans', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background-color: #222C37;
  height: 60px;
}

header a {
  text-decoration: none;
}

#logo-tab {
  display: inline-block;
}

#header-container {
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  width: 95%;
}

#logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#vr-char {
  color: white;
  font-size: 26px;
}

#documentation-text {
  color: white;
  font-size: 18px;
}

#selection-tab {
  display: inline-block;
  position: absolute;
  left: 75%;
}

.selection-btn {
  display: inline-block;
  text-align: center;
  color: white;
  font-family: 'avalon', sans-serif;
}

#selected-btn {
  text-decoration: underline;
  color: #00CCCC;
  font-family: 'avalonbold', sans-serif;
  font-weight: bold;
}

#manual-btn {
  width: 150px;
}

#scripting-api-btn {
  width: 150px;
}

#version-tab {
  height: 40px;
  background-color: #E6E6E6;
}

#version-text-container {
  padding: 10px;
  padding-left: 25px;
}

.version-text {
  font-weight: bold;
}

#scroll-bar-container {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border-right: solid green 1px;
  padding: 20px;
  width: 25%;
  height:auto;
  max-height: 100vh;
  overflow: auto;
}

.sb-dir {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.sb-file {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

/* Scrollbar Layers */
.sb-layer-1 { margin-left: 20px; }
.sb-layer-2 { margin-left: 20px; }
.sb-layer-3 { margin-left: 20px; }
.sb-layer-4 { margin-left: 20px; }
.sb-layer-5 { margin-left: 20px; }
.sb-layer-6 { margin-left: 20px; }
.sb-layer-7 { margin-left: 20px; }
.sb-layer-8 { margin-left: 20px; }
.sb-layer-9 { margin-left: 20px; }


#content-container {
  margin-left: auto;
  padding-top: 100px;
  width: 70%;
}

#content-header {

}

#content-body {

}

hr {
  opacity: 0.6;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 98%;
}

#content-footer {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}