@charset "UTF-8";
/**
 * $File: util.css $
 * $Date: 2018-09-28 00:25:14 $
 * $Revision: $
 * $Creator: Jen-Chieh Shen $
 * $Notice: See LICENSE.txt for modification and distribution information
 *                   Copyright © 2018 by Shen, Jen-Chieh $
 */


.vis-red {
  border: solid red 1px;
}

.vis-yellow {
  border: solid yellow 1px;
}

.vis-green {
  border: solid green 1px;
}
